<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
  </head>

  <% if (message.length > 0) { %>
  <div id="middleAlert">
    <div id="exampleModal" class="reveal-modal">
      <div class="alert alert-success"><%= message[0] %></div>
    </div>
  </div>
  <% } %>

  <body class="text-center">
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand"></h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" href="/">Home</a>

            <% if(isLoggedin){ %>
              <a class="nav-link" href="/users/profile">Profile</a>
            <a class="nav-link" href="/users/logout">Logout</a>

            <% } else{ %>
            <a class="nav-link active" href="/users/login">Login</a>
            <a class="nav-link" href="/users/register">Register</a>
            <% } %>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <h1 class="cover-heading">Upload your stuff.</h1>
        <p class="lead">This is the main page</p>
        <p class="lead">
          <a href="/users/profile" class="btn btn-lg btn-secondary"
            >Learn more</a
          >
        </p>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>
            <a href=""></a>
            <a href=""> </a>.
          </p>
        </div>
      </footer>
    </div>
    <script language="javascript" src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
  </body>
</html>

<style>
  body {
    background-image: url("http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: "Numans", sans-serif;
  }

  #middleAlert {
    position: absolute;
  }
</style>
