<html lang="en">

<head>
  <title>Your Profile</title>
  <!--Bootsrap 4 CDN-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
  <script src="https://code.jquery.com/jquery-3.5.0.js"></script>

  <!--Fontawesome CDN-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous" />

  <!--Custom styles-->
  <link rel="stylesheet" type="text/css" href="styles.css" />
</head>

<header class="masthead mb-auto">
  <div class="inner">
    <h3 class="masthead-brand"></h3>
    <nav class="nav nav-masthead justify-content-center">
      <a class="nav-link" href="/">Home</a>
      <a class="nav-link" href="/users/logout">Logout</a>
    </nav>
  </div>
</header>

<body class="text-center">
  <div id="mainContent" class="mx-auto mt-4">
    <% if (message.length> 0) { %>
      <div id="middleAlert" class="mx-auto mt-4">
        <div class="reveal-modal">
          <div class="alert alert-success">
            <%= message[0] %>
          </div>
        </div>
      </div>
      <% } %>
        <% if (messageError.length> 0) { %>
          <div id="middleAlert" class="mx-auto mt-4">
            <div class="reveal-modal">
              <div class="alert alert-danger">
                <%= messageError[0] %>
              </div>
            </div>
          </div>
          <% } %>
            <h1>Your Uploads:</h1>
            <!--   PHOTO-->
            <form action="/users/uploadfile" enctype="multipart/form-data" method="POST">
              <input type="file" name="myImage" accept="image/*" />
              <input type="submit" value="Upload Photo" />
            </form>             
            <!-- MULTIPLE FILES
            <form action="/users/uploadmultiple" enctype="multipart/form-data" method="POST">
              Select images: <input type="file" name="myFiles" multiple />
              <input type="submit" value="Upload your files" />
            </form>  -->

            <button onClick="sendArrayToController()" type="submit" class="btn btn-danger">Delete
              Selected</button>

            <div class="card-columns">
              <% for(var i=0; i<imagesResult.length; i++) {%>
                <div class="card m-2">
                  <img id='<%= imagesResult[i].id %>' onClick="reply_click(this.id)" class="card-img"
                    src='/users/uploads/<%= imagesResult[i].img_filename %>' alt="Card image" />
                </div>
                <% } %>
                  <script type="text/javascript">
                    var imagesToDelete = []; //creating an array with the id of images to delete
                    function reply_click(clicked_id) {
                      var $img = $("#" + clicked_id).toggleClass('clicked');
                      if (imagesToDelete.indexOf(clicked_id) === -1) { // verify if the image_ID that was clicked is inside of the array
                        imagesToDelete.push(clicked_id);// if its not it will push inside the array
                      } else if (imagesToDelete.includes(clicked_id)) {// determines if the value is inside the array
                        var indexToRemove = imagesToDelete.indexOf(clicked_id) //compares the value with the elements in the array using the ===
                        if (indexToRemove > -1) {
                          imagesToDelete.splice(indexToRemove, 1);
                        }
                      }
                    }

                    function sendArrayToController() {
                      var arrayString = JSON.stringify(imagesToDelete);
                      $.ajax({
                        contentType: 'application/json',
                        type: "POST",
                        url: '/users/delete',
                        data: arrayString,
                        success: function (data) {
                          console.log('Call was successful');
                          location.reload();
                        }
                      });
                    }
                  </script>
            </div>
  </div>
</body>

</html>

<style>
  img.clicked {
    border: 5px solid Blue
  }

  #mainContent {
    background-color: rgba(243, 239, 239, 0.795);
    width: 90%;
    height: 90%;
    border: 1px solid black;
    overflow: auto;
    /*makes evrything stay inside the main container  */
  }

  body {
    background-image: url("http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: "Numans", sans-serif;
  }

  #middleAlert {
    width: 300px;
  }
</style>